.container{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: navajowhite;
}
.items{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
}

.anchor-item, #name-only{
    margin: 10px;
}
#right-most-a{
    margin-right: 25px  !important;
}

@media (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    /* CSS rules */
    .items{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
    }
  }
